.grey {
    background-color: lightgrey;
}

.hide {
    display: none;
}

#reviewToggler {
    display: inline-block;
    position: relative;
    width: 41px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    top: 7px;
    margin-left: 7px;
}

#reviewToggler::before {
    content: url("pict/eyes.png"); 
    position: absolute;
} 

#reviewToggler::before {
    left: 0;
}

#reviewToggler.reviewHidden::before {
    left: -41px;
}

.hidden_review {
    visibility: hidden;
}

.hidden_review::before {
    content: url("pict/closed_eye.png"); 
    position: absolute;
    cursor: pointer;
    visibility: initial;
} 
