.grey {
    background-color: lightgrey;
}

.hide {
    display: none;
}

.rv {
  background-color: aliceblue;
}

.rv.review_is_on {
  cursor: pointer;
}

#reviewToggler {
    display: inline-block;
    position: relative;
    width: 41px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    top: 7px;
    margin-left: 7px;
}

#reviewToggler::before {
    content: url("pict/eyes_spline.png"); 
    position: absolute;
} 

#reviewToggler::before {
    left: 0;
}

#reviewToggler.reviewHidden::before {
    left: -41px;
}

.hidden_review {
    visibility: hidden;
}

.hidden_review::before {
    content: url("pict/closed_eye.png"); 
    position: absolute;
    cursor: pointer;
    visibility: initial;
    margin-left: 5px;
} 

/* Alternative fenced code labels  */

pre > code.language-somelang, pre > code.language-wrapped-somelang,
pre > code.language-dsomelang, pre > code.language-wrapped-dsomelang {
  padding-top: 40px;
}

pre > code.language-wrapped-somelang, pre > code.language-wrapped-dsomelang {
  white-space: pre-wrap;
  word-break: break-word;
  min-width: unset;
}

pre > code.language-somelang::before, pre > code.language-wrapped-somelang::before,
pre > code.language-dsomelang::before, pre > code.language-wrapped-dsomelang::before
{
    display: block;
    position: absolute;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    
    font-weight: bold;
    color: black;
    background-color: white;
    
    font-size: 0.8rem;
    margin-top: -32px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 3px;
}

pre > code.language-somelang, pre > code.language-wrapped-somelang {
  color: darkred;
  background-color: beige;
  border-color: darkred;
}

pre > code.language-dsomelang, pre > code.language-wrapped-dsomelang {
  color: floralwhite;
  background-color: darkslategray;
  border-color: darkslategray;
}

pre > code.language-somelang::before, pre > code.language-wrapped-somelang::before {
    content: "Some language";
    border-color: darkred;
}

pre > code.language-dsomelang::before, pre > code.language-wrapped-dsomelang::before {
    content: "Some language (dark)";
    border-color: darkslategray;
}




