html {
    width: 900px;
    font-size: 18px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body {
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
}

p, h1, h2, h3, h4, h5, h6 {
    max-width: 900px;
}

li {
    max-width: 860px;
}

ul, ol {
    padding-left: 40px;
}

hr {
    height: 1px;
    border: 0px;
    width: 899px;
    margin-left: 0px;
    text-align: left;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
    font-size: unset;
}

code, .code {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif;
    font-size: 16px;
    background-color: #eeeeee;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 7px;
    white-space: nowrap;
    border-style: solid;
    border-width: 1px;
}

pre>code, div.code {
    font-size: 16px;
    display: block;
    width: 48.778rem;
    min-width: max-content;
    line-height: 1.4;
    border-radius: 0;
    white-space: pre;
    padding: 10px;
}

pre>code.language-wrapped {
    white-space: pre-wrap;
    word-break: break-word;
    min-width: unset;
}

pre>code.language-code, pre>code.language-wrapped-code {
    border-style: solid;
    border-width: 1px;
}

pre>code.language-wrapped-shell, pre>code.language-wrapped-code {
    white-space: pre-wrap;
    word-break: break-word;
    min-width: unset;
}

blockquote {
    margin-left: 0;
    padding: 1px 10px;
    font-size: 16px;
    width: 868px;
    min-width: max-content;
    border-style: solid;
    border-width: 1px 1px 1px 10px;
}

blockquote *, div.admonition * {
    max-width: 868px;
}

blockquote, div.admonition {
    overflow: hidden;
}

blockquote pre>code {
    width: 847px;
}

div.admonition pre>code {
    width: 857px;
}

blockquote li pre code {
    width: 808px;
}

table {
    max-width: 900px;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 16px;
}

table td, table th {
    border-style: solid;
    border-width: 1px;
    padding: 7px 14px;
}

table td {
    vertical-align: top;
}

table th {
    background-color: #e9f0f2;
}

div.admonition {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    padding: 0;
    font-size: 16px;
    width: 898px;
    min-width: max-content;
    border-style: solid;
    border-width: 1px;
}

div.admonition>p.admonition-title {
    margin: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 5px 20px 5px 10px;
    font-weight: bold;
    max-width: unset;
}

div.admonition>* {
    margin: 16px 10px;
}

div.admonition li {
    width: 838px;
}

li>div.admonition {
    width: unset;
    min-width: unset;
}

li>blockquote {
    width: 827px;
}

li>pre>code {
    width: 838px;
}

img.floatRight {
    float: right; 
    margin: 0 0 25px 25px;
}





body {
    margin:34px 0 0 250px;
    padding:20px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 5px 20px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 20px;
}

.header_item {
    font-weight: bold;
    margin: 0 7px 0 7px;
}

.sidebar {
    position: fixed;
    top: 40px;
    bottom: 0;
    z-index: 2;
    margin: 0;
    padding: 10px 20px 10px 20px;
    left: 0;
    width: 210px;
    overflow-y: auto;
    border-right-style: solid;
    border-right-width: 1px;
}

table.sidebarAligner {
    height: 100%;
    width:100%;
    border-spacing: 0;
    border-collapse: collapse;
}

table.sidebarAligner td {
    padding: 0;
    margin: 0;
    border: none;
}

.sidebarAligner td.bottom {
    font-size: smaller;
    padding-top: 40px;
    vertical-align: bottom;
}

.sidebarAligner td.bottom a {
    color: inherit;
}

a[name], a[id] {
    height: 42px;
    display: block;
    margin-top: -42px;
}

h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    content: '';
    display: block;
    height:      42px;
    margin-top: -42px;
}

div.sidebar h1::before, div.sidebar h2::before, div.sidebar h3::before, 
div.sidebar h4::before, div.sidebar h5::before, div.sidebar h6::before {
    content: unset;
    display: unset;
    height: unset;
    margin-top: unset;
}

.sidebar_item { 
    padding: 0 20px 0 20px; 
    margin-left: -20px; 
    margin-right: -20px;
    display: block;
    text-decoration: none;
}


.header {
    background-color: aliceblue;
}

.sidebar {
    background-color: lemonchiffon;
}


